############################
# Misc.
############################

tsconfig.json
tsconfig.build.json
package-lock.json

############################
# Build
############################

dist


############################
# Node.js
############################

node_modules
